@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "testimonial";
}
<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/img/testimonial-1.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Ahlam Banani</h4>
                        <small class="text-uppercase">Student</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    The team delivered exactly what we needed, helping us grow our online presence and increase sales. Their expertise made all the difference.
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/img/testimonial-2.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Khalid Kanane</h4>
                        <small class="text-uppercase">Student</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    The team was professional and responsive, and the results speak for themselves. Highly recommend
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/img/testimonial-3.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Fahd Wassil</h4>
                        <small class="text-uppercase">Student</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    The team delivered exactly what we needed, helping us grow our online presence and increase sales. Their expertise made all the difference.
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/img/testimonial-4.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Wissal Hamil</h4>
                        <small class="text-uppercase">Student</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    The team was knowledgeable, professional, and always available to answer our questions. Thanks to their efforts, our online visibility has improved, and we’ve seen a noticeable increase in customer inquiries.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->